/* Table */
.menu{
  font-family: 'Roboto Slab', serif;
  color: #3c3a3d;
  border: 5px solid grey;
  padding:5px;
}

.capitalize{
  text-transform: capitalize;
}

ul li{
  font-style: italic;
}
body{
  background-color: #353a4c;
  padding: 8%
}
p{
  font-family: 'Roboto Slab', serif;
  font-size: 4em;
  color:#ffffff
}

table {
  height: 20%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 60%;
}

thead th {
  background: #88CCF1;
  color: #FFF;
  font-family: Garamond;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}

tbody{
  font-family: Garamond;
}

tfoot{
  background: #3c3a3d;
}

h1{
  font-family: 'Roboto Slab', serif;
  font-size: 5em;
  color:#6a6e7c;
  padding-bottom: 30px

}

img.timeline{
  max-width: 25%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

div.timeline{
  background: linear-gradient(#999999, #999999) no-repeat center/2px 100%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #db36c5;
}
